<a href="https://colab.research.google.com/github/hukim1112/MLDL/blob/master/lecture3/Gradient_boosting_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## import library

In [4]:
from sklearn.datasets import load_iris
import pandas as pd

iris_dataset = load_iris()

X, y = iris_dataset.data, iris_dataset.target

In [15]:
iris_df = pd.DataFrame(data=X, columns=iris_dataset['feature_names'])
iris_df['target'] = y

In [16]:
iris_df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

## Let us split this data into training and testing set.

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0)

## Instantiate a GradientBoostingClassifier model using the default params.

In [6]:
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)

GradientBoostingClassifier()

In [9]:
gbc.score(X_test, y_test) #Let us score it on the test set

1.0

In [8]:
gbc.n_estimators
#This can be controlled by setting n_estimators to a different value during the initialization time.

100